.areas_holder
  .container
    .content
      //- about area
      include areas/about_area

      //- skills area
      include areas/skills_area

      //- gallery area
      include areas/gallery_area

      //- timeline area
      include areas/timeline

      //- feedbacks area
      include areas/feedbacks_area

      //- contact area
      include areas/contact_area


