//  HELPERS CLASSES

//  for this project only

.selected_in_aside {
  background-color: #ddd9;
    border-bottom: none !important;
    border-right: 5px solid #555 !important;

    span {
        color: $sudo__color;
    }
}

.select_area_effect {
    background: $white__color;

    i::after {
        top: 0;
    }
}

.animate_input_flag {
    color: #54a1f3 !important;
    top: 6px !important;
    font-size: 17px;

    i {
        display: inline !important;
        font-size: 15px;
    }
}

.toggle_aside {
    left: -290px;
}

.bar_one_edit {
    transform: none !important;
    top: 3px !important;
}

.bar_two_edit {
    transform: rotate(90deg) !important;
    top: 8px !important;
    left: -6px !important;
    width: 80% !important;
}

.bar_three_edit {
    transform: rotate(90deg) !important;
    top: 8px !important;
    left: 7px !important;
    width: 80% !important;
}

.bar_four_edit {
    transform: none !important;
    top: 13px !important;
}

.custom_col {
  padding-right: 5px;
  padding-left: 5px;
}

//=>>>>>>>>>>>>>>>>>>>

//  classes maybe i gonna change in another projects
*
{
    box-sizing: border-box;
}
input,
textarea
{
    outline: 0
}

*
{
  text-transform: auto;
}
h2,h3,h4,h5,h6
{
    font-weight: normal;
    margin: 0;
}
a
{
    text-decoration: none;
    color: #333
}
ul, ol,
li
{
    margin: 0;
    padding: 0;
    list-style: none
}
button
{
    background: none;
    outline: none !important;
}
h1,
.h1
{
    margin-bottom: 40px;
    margin-top: 15px;
    font-size: 30px;
}
p,
.p
{
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}
.container {
    padding-right: 40px;
    margin-right: auto;
    padding-left: 40px;
    margin-left: auto;
    width: 100%;
}
.reset_m
{
    margin: 0;
}
.muted
{
    color: #888
}
.upper
{
    text-transform: uppercase
}
.cap
{
    text-transform: capitalize
}
.txt_mid
{
    text-align: center
}
.txt_l
{
    text-align: left
}
.txt_r
{
    text-align: right
}
.block
{
    display: block
}
.inline
{
    display: inline
}
.img_round
{
    border-radius: 50%;
}
.pointer
{
    cursor: pointer;
}
//=>>>>>>>>>>>>>>>>>>>



