//- Contact pagination.

.pagination
  .row
    .col-4
      .box_thumb
        i.fas.fa-envelope-open.fa-spin.envelope
    .col-8
      span.section_title
        a(href="#") #
        span.pagi_title contact
