//- instructors pagination.

.pagination
  .row
    .col-4
      .box_thumb
        i.fas.fa-history.fa-spin.history
    .col-8
      span.section_title
        a(href="#") #
        span.pagi_title timeline
