footer
    .footer_holder
      .row
        .col-lg-3.col-md-3.col-sm-6
          .made
            p
              i.fas.fa-code
              |  with 
              i.fas.fa-heart
              |  &  
              i.fas.fa-coffee

        .col-lg-5.col-md-4.col-sm-6
          .logo_and_copy_rights
            p
              i.far.fa-copyright
              |  2017-2019 all rights reserved to 
              a(href="mailTo:ahmedsalihdev@gmail.com" title="Author")
                i.fas.fa-at
                | ahmedsalih

        .col-lg-4.col-md-5.col-sm-12
          .social_icons
            ul
              li
                a(href="https://www.instagram.com/salihcodev/" target="_blank")
                  i.fab.fa-instagram.fa-lg.instagram

              li
                a(href="https://www.behance.net/salihcodev" target="_blank")
                  i.fab.fa-behance.fa-lg.behance

              li
                a(href="https://github.com/salihcodev" target="_blank")
                  i.fab.fa-github.github

