.loader_container
  .loader_holder
    .body
      span
        span
        span
        span
        span
      .base
        span
        .face
    .longfazers
      span
      span
      span
      span
    h1.loader loading . . .