nav
  .left_nav_side
    main.logo_box
      a(href="https://ahmedsalih.netlify.com")
        span.logo

  .right_nav_side
    .handel_aside
      button.aside_handler
        span.bar.bar_one
        span.bar.bar_two
        span.bar.bar_three
        span.bar.bar_four
