section#about.area.about
  include ../../components/about_pagination
  .row
    .col-xl-3.col-lg-4.col-md-5.col-xs-12
      .basic
        .info_avatar
          img(src="images/personal_imgs/ahmedcodev.jpg" alt="ahmed salih")
        .name-and-jobT
          h2 Ahmed Salih
          p.jobT(title="job title") Front-End Developer

          .additional_info
            span.block_info.home(title="home")
              i.fas.fa-home
              |  (Minufia, Egypt)

            span.block_info.nickname(title="nickname")
              i.fas.fa-globe-americas
              |  (codev)

        .social_icon
          a(href="https://github.com/salihcodev" target="_blank")
            i.fab.fa-github.fa-lg.github

          a(href="https://www.behance.net/salihcodev" target="_blank")
            i.fab.fa-behance.fa-lg.behance

          a(href="https://twitter.com/salihcodev" target="_blank")
            i.fab.fa-twitter.fa-lg.twitter

        button.cv_btn
          a(href="https://drive.google.com/open?id=1J60tWVvSXwZt7pxnJ-dVZUTNmXwA9oTp" target="_blank") download
            i.fas.fa-file-pdf

    .col-xl-9.col-lg-8.col-md-7.col-xs-12
      .info
        h1
          | who am i 
          span
        .info_box
          p Hello & Welcome!
          br

          p
            | My Name Is 
            cite.my_name Ahmed Salih
            |   I'm a front-end developer I'm a self-taught programmer the work I provide is of the highest quality, fully responsive, and tested in a wide range of devices. I take great care to ensure each project is well-documented and easily maintainable so you can enhance a website as your company grows. in my experience as a freelancer and working for agencies I have also obtained an eye for details and appreciation for design, as well as knowing how to efficiently project manage and work with clients and colleagues successfully.
            | Project Manage And Work With Clients And Colleagues Successfully.
          br

          p
            | so i'm 
            span.im_developer DEVELOPER
            |  , actually talented front end developer.
            |  I'm looking for
            samp
              q what is next in my field
            |  and that’s managed me to take your ( PSD - AI - Sketch - XD - PDF - JPG ) file and enjoy the output, and I can provide that in quick turnaround time under respecting for deadlines.
          br
          br
          br

          p
            | => My best features: 
            br
            br
            |  • I can deal with any Front-End problems and fix ✓
            br
            |  • Responsive Web sites ✓
            br
            |  • All browser compatibility ✓
            br
            |  • Clean and well-commented and semantic code ✓
            br
            |  • And mobile-optimized websites ✓
            br
            |  • Animations with  CSS3 & Jquery3.11+ or JS tricks [react-vue   ]
            br
            br

          p.inline_one
            i.fas.fa-exclamation.attracting
            |  So if you need to build a modern, responsive website from scratch or if you have already one and need to make any changes,
            |  Please Visit The 
            span(class="hire_me") Hire Page

            p.inline_two
              | and give a little information about the project you have in mind. we can then set up a call to discuss how i can be of most value to your project... i happily can assist you with it, or be part of your team. don't hesitate to contact me! i will gladly help you with your project/s.
            br
            br
            br
            br

          p.thank_para
            | That’s it, Thanks a lot !!
          p
  
  include ../../layout/footer