section#gallery.area.gallery
  include ../../components/gallery_pagination

  h1
    | what's latest.. 
    span

  p this is my awesome portfolio, my all work.. hope you will like it
  .projects
    .row.gallery_row_cus
      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_0
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live


          main.proj_cont.proj_cont_1
            span.guid
              p
                | has launched in 
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap


      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_1
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_2
            span.guid
              p
                | has launched in
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap



      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_2
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_3
            span.guid
              p
                | has launched in
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap



      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_3
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_4
            span.guid
              p
                | has launched in
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap



      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_0
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_5
            span.guid
              p
                | has launched in
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap


      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_1
          main.proj_header
            .proj_name unCode
            .category redesign-UI
            a(href="http://uncode-re.surge.sh/" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_6
            span.guid
              p
                | has launched in
                br
                span.launch_history 20-1 2019

              ul.site_tags
                +pug
                +sass
                +js
                +bootstrap



      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_2
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_7
            span.guid
              p
                | has launched in
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap



      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_3
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_8
            span.guid
              p
                | has launched in
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap



      .col-lg-3.col-md-4.col-sm-6.col-xs-12.custom_col
        .project.project_num_3
          main.proj_header
            .proj_name name
            .category cat.
            a(href="" target="_blank")
              span.launcher
                i.fas.fa-rocket
                span.launcher_title view live

          main.proj_cont.proj_cont_9
            span.guid
              p
                | has launched in
                br
                span.launch_history *-* ****

              ul.site_tags
                //- +pug
                //- +sass
                //- +js
                //- +bootstrap



  main.gallery_attractor
    p let's do some awesome work together ..  
    button.gallery__btn
      | contact me 
      i.fas.fa-paper-plane


  include ../../layout/footer
