section#skills.area.skills
  include ../../components/skills_pagination

  .row
    .col-lg-7.col-xs-12
      .skills_box.skill_blocks
        .tech_skills
          h1
            | let's talking about my skills 
            span

          h2
            | technical skills 
            i.fas.fa-cogs

          .row
            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="html")
                .icon.html5
                  i
                    span.iconify(style="color: #DE4B25" data-icon="zmdi:language-html5" data-inline="false")
                h4 html5

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="css")
                .icon.css3
                  i
                    span.iconify(style="color: #1A70B5" data-icon="simple-icons:css3" data-inline="false")
                h4 css3

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="sass")
                .icon.sass
                  i
                    span.iconify(data-icon="logos:sass" data-inline="false")
                h4 sass

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="pug")
                .icon.pug
                  i
                    span.iconify(data-icon="logos:pug" data-inline="false")
                h4 pug

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="javascript")
                .icon.javascript
                  i
                    span.iconify(data-icon="logos:javascript" data-inline="false")
                h4 javascript

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="react")
                .icon.react
                  i
                    span.iconify(data-icon="logos:react" data-inline="false")
                h4 react

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="vue")
                .icon.vue
                  i
                    span.iconify(data-icon="logos:vue" data-inline="false")
                h4 vue

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="jquery")
                .icon.jq
                  i(style="font-size: 25px;")
                    span.iconify(data-icon="logos:jquery" data-inline="false")
                h4 jquery

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="bootstrap")
                .icon.bootstrap
                  i
                    span.iconify(data-icon="logos:bootstrap" data-inline="false")
                h4 bootstrap

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="materialize")
                .icon.materialize
                  i
                    span.iconify(data-icon="logos:materializecss" data-inline="false")
                h4 materialize

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="foundation")
                .icon.foundation
                  i
                    span.iconify(data-icon="logos:foundation" data-inline="false")
                h4 foundation

            .col-xl-3.col-md-4.col-sm-6.custom_col
              .s_box(data-go="tailwind")
                .icon.tailwind
                  i
                    <span class="iconify" data-icon="logos:tailwindcss-icon" data-inline="false"></span>
                h4 tailwind

        .personal_skills
          h2
            | personal skills 
            i.fas.fa-user-cog

          .row
            .col-xl-2.col-md-3.col-sm-6.col-xs-12.custom_col
              .s_box(data-go="photoshop")
                .icon.photoshop
                  i
                    span.iconify(data-icon="simple-icons:adobephotoshop" data-inline="false")
                h4 photoshop

            .col-xl-2.col-md-3.col-sm-6.col-xs-12.custom_col
              .s_box(data-go="illustrator")
                .icon.illustrator
                  i
                    span.iconify(data-icon="simple-icons:adobeillustrator" data-inline="false")
                h4 illustrator

            .col-xl-2.col-md-3.col-sm-6.col-xs-12.custom_col
              .s_box(data-go="terminal")
                .icon.terminal
                  i
                    span.iconify(data-icon="octicon:terminal" data-inline="false")
                h4 terminal

            .col-xl-2.col-md-3.col-sm-6.col-xs-12.custom_col
              .s_box(data-go="linux")
                .icon.linux
                  i
                    span.iconify(data-icon="fa-brands:linux" data-inline="false")
                h4 linux

            .col-xl-2.col-md-3.col-sm-6.col-xs-12.custom_col
              .s_box(data-go="inkscape")
                .icon.inkscape
                  i
                    span.iconify(data-icon="simple-icons:inkscape" data-inline="false")
                h4 inkscape
        .tools
          h2
            | tools 
            i.fas.fa-user-ninja
          
          p.tools_description any tool here used at least in on project.

          .row
            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="vscode")
                .icon.vscode
                  i
                    span.iconify(style="color: #2684ff" data-icon="mdi:visual-studio-code" data-inline="false")
                h4 VS code

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="atom")
                .icon.vscode
                  i
                    span.iconify(data-icon="logos:atom" data-inline="false")
                h4 atom

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="npm")
                .icon.npm
                  i(style="font-size: 25px;")
                    span.iconify(data-icon="logos:npm" data-inline="false")
                h4 npm

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="yarn")
                .icon.yarn
                  i(style="font-size: 25px;")
                    span.iconify(data-icon="logos:yarn" data-inline="false")
                h4 yarn

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="github")
                .icon.github
                  i
                    span.iconify(data-icon="logos:github-octocat" data-inline="false")
                h4 github

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="bitbucket")
                .icon.bitbucket
                  i
                    span.iconify(data-icon="logos:bitbucket" data-inline="false")
                h4 bitbucket

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="git")
                .icon.git
                  i
                    span.iconify(data-icon="logos:git-icon" data-inline="false")
                h4 git

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="gulp")
                .icon.gulp
                  i
                    span.iconify(data-icon="logos:gulp" data-inline="false")
                h4 gulp

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="grunt")
                .icon.grunt
                  i
                    span.iconify(data-icon="logos:grunt" data-inline="false")
                h4 grunt

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="webpack")
                .icon.webpack
                  i
                    span.iconify(data-icon="logos-webpack" data-inline="false")
                h4 webpack

            .col-xl-2.col-md-3.col-sm-4.col-xs-12.custom_col
              .s_box(data-go="trello")
                .icon.trello
                  i
                    span.iconify(data-icon="logos:trello" data-inline="false")
                h4 trello

    .col-lg-5.col-xs-12
      .skills_box.skill_percentage
        .skill_percentage_flag
          p
            i.fas.fa-percent
            |  percentages


        .percentage_holder
          .tech_skills
            h3 technical skills

            p html
            .round.html
              span.perc.html_perc
                span.perc_num 90%

            p css
            .round.css
              span.perc.css_perc
                span.perc_num 85%

            p sass
            .round.sass
              span.perc.sass_perc
                span.perc_num 70%

            p pug
            .round.pug
              span.perc.pug_perc
                span.perc_num 75%

            p js
            .round.js
              span.perc.js_perc
                span.perc_num 55%

            p react
            .round.react
              span.perc.react_perc
                span.perc_num 50%

            p vue
            .round.vue
              span.perc.vue_perc
                span.perc_num 01%

            p jq
            .round.jq
              span.perc.jq_perc
                span.perc_num 80%

            p bootstrap
            .round.bootstrap
              span.perc.bootstrap_perc
                span.perc_num 85%

            p materialize
            .round.materialize
              span.perc.materialize_perc
                span.perc_num 50%

            p foundation
            .round.foundation
              span.perc.foundation_perc
                span.perc_num 01%

            p tailwind
            .round.tailwind
              span.perc.tailwind_perc
                span.perc_num 30%


            .mark_box.txt_mid
              .skill_marker_flag
                p
                  i.fas.fa-highlighter
                  |  markers

              span.mark.first_mark
                dir.mark_flag
                span.figure_desc coming soon
                  span.figure_percent 01%

              span.mark.second_mark
                dir.mark_flag
                span.figure_desc excellent
                  span.figure_percent 70%

              span.mark.third_mark
                dir.mark_flag
                span.figure_desc intermediate
                  span.figure_percent 50%

              span.mark.last_mark
                dir.mark_flag
                span.figure_desc basic
                  span.figure_percent 30%


          .personal_skills
            h3 personal skills

            p photoshop
            .round.photoshop
              span.perc.photoshop_perc
                span.perc_num 60%

            p illustrator
            .round.illustrator
              span.perc.illustrator_perc
                span.perc_num 55%

            p terminal
            .round.terminal
              span.perc.terminal_perc
                span.perc_num 70%

            p linux
            .round.linux
              span.perc.linux_perc
                span.perc_num 80%

            p inckscape
            .round.inckscape
              span.perc.inkscape_perc
                span.perc_num 50%

  include ../../layout/footer

  .skills_popup_viewer
    .skills_info


      #html.s_info.html_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(style="color: #DE4B25" data-icon="zmdi:language-html5" data-inline="false")
          main html
        br
        br
        br
        p
          | Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript. Wikipedia
        br
        br
        p
          | Developed by: WHATWG
          | Type of format: Document file format
        br
        p
          | Latest release: HTML5


      #css.s_info.css_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(style="color: #1A70B5" data-icon="simple-icons:css3" data-inline="false")
          main css
        br
        br
        br
        p
          | Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
        br
        br
        p
          | Developed by: Håkon Wium Lie; Bert Bos; World Wide Web Consortium
          | Type of format: Style sheet language
        br
        p
          | Initial release: December 17, 1996; 22 years ago


      #sass.s_info.sass_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:sass" data-inline="false")
          main sass
        br
        br
        br
        p
          | Sass is a style sheet language initially designed by Hampton Catlin and developed by Natalie Weizenbaum. After its initial versions, Weizenbaum and Chris Eppstein have continued to extend Sass with SassScript, a simple scripting language used in Sass files. Wikipedia
        br
        br
        p
          | Stable release: 3.5.6 / March 23, 2018; 17 months ago
          | Filename extensions: sass,.scss
          | Developer: Natalie Weizenbaum, Chris Eppstein
          | Designed by: Hampton Catlin
        br
        p
          | First appeared: November 28, 2006; 12 years ago
          | License: MIT License


      #pug.s_info.pug_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:pug" data-inline="false")
          main pug
        br
        br
        br
        p
          | Pugs is a compiler and interpreter for the Perl 6 programming language, started on February 1, 2005, by Audrey Tang. Pugs development is now placed on hiatus, with most Perl 6 implementation efforts now taking place on Rakudo. Wikipedia
        br
        br
        p
          | Programming languages: Perl 6, Haskell
          | Designed by: Audrey Tang.
        br
        p
          | First appeared: started on February 1, 2005


      #javascript.s_info.javascrip_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:javascript" data-inline="false")
          main javascrip
        br
        br
        br
        p
          | JavaScript, often abbreviated as JS, is a high-level, interpreted scripting language that conforms to the ECMAScript specification. JavaScript has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions. Wikipedia
        br
        br
        p
          | First appeared: December 4, 1995; 23 years ago
          | Stable release: ECMAScript 2018 / June 2018; 1 year ago
          | Preview release: ECMAScript 2019
        br
        p
          | Typing discipline: Dynamic, duck
          | Designed by: Brendan Eich

      #react.s_info.react_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:react" data-inline="false")
          main react
        br
        br
        br
        p
          | React is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications, as it is optimal for fetching rapidly changing data that needs to be recorded. Wikipedia
        br
        br
        p
          | Stable release: 16.9.0 / August 8, 2019; 35 days ago
          | Platform: Web platform
          | Initial release: May 29, 2013; 6 years ago
        br
        p
          | Developer(s): Facebook and community
          | Written in: JavaScript
          | License: MIT License


      #vue.s_info.vue_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:vue" data-inline="false")
          main vue
        br
        br
        br
        p
          | Vue.js is an open-source JavaScript framework for building user interfaces and single-page applications. It is first created by Evan You, and now is maintained by him and the rest of the active core team members coming from various companies such as Netlify and Netguru. Wikipedia
        br
        br
        p
          | Initial release: February 2014; 5 years ago
          | Stable release: 2.6.10 / March 20, 2019; 5 months ago
          | Size: 30.67 KB production; 279 KB development
        br
        p
          | Original author(s): Evan You
          | Written in: JavaScript
          | License: MIT License


      #jquery.s_info.jquery_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:jquery" data-inline="false")
          main jquery
        br
        br
        br
        p
          | jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax. It is free, open-source software using the permissive MIT License. As of May 2019, jQuery is used by 73% of the 10 million most popular websites. Wikipedia
        br
        br
        p
          | Stable release: 3.4.1 / (May 1, 2019; 4 months ago)
          | Initial release date: August 26, 2006
        br
        p
          | Original author: John Resig
          | Written in: JavaScript
          | Size: 30–263 KB
          | License: MIT License


      #bootstrap.s_info.bootstrap_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:bootstrap" data-inline="false")
          main bootstrap
        br
        br
        br
        p
          | Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and JavaScript-based design templates for typography, forms, buttons, navigation and other interface components. Wikipedia
        br
        br
        p
          | Stable release: 4.3.1 / February 13, 2019; 7 months ago
          | Initial release date: August 19, 2011
        br
        p
          | Written in: HTML, Cascading Style Sheets, Less (v3), Sass (v4), JavaScript
          | Original author(s): Mark Otto, Jacob Thornton
          | Platform: Web platform
          | License: MIT License (Apache License 2.0 prior to 3.1.0)


      #materialize.s_info.materialize_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:materializecss" data-inline="false")
          main materialize
        br
        br
        br
        p
          | Created and designed by Google, Material Design is a design language that combines the classic principles of successful design along with innovation and technology. Google's goal is to develop a system of design that allows for a unified user experience across all their products on any platform.
        br
        br
        p
          | License: MIT License
        br
        p
          | License: MIT License


      #foundation.s_info.foundation_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:foundation" data-inline="false")
          main foundation
        br
        br
        br
        p
          | Foundation is a responsive front-end framework. Foundation provides a responsive grid and HTML and CSS UI components, templates, and code snippets, including typography, forms, buttons, navigation and other interface elements, as well as optional functionality provided by JavaScript extensions
        br
        br
        p
          | Stable release: 6.5.3 / January 27, 2019; 10 months ago
          | Developer(s): ZURB
          | Written in: HTML, Cascading Style Sheets, Sass, JavaScript
        br
        p
          | Initial release: September 2011; 8 years ago
          | License: MIT License


      #tailwind.s_info.tailwind_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          <span class="iconify" data-icon="logos:tailwindcss-icon" data-inline="false"></span>
          main tailwind
        br
        br
        br
        p
          | Tailwind CSS is a highly customizable, low-level CSS framework that gives you all of the building blocks you need to build bespoke designs without any annoying opinionated styles you have to fight to override.
        br
        br
        p
          | 
          | 
          | 
        br
        p
          | 
          | 
          | License: MIT License


      #photoshop.s_info.photoshop_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="simple-icons:adobephotoshop" data-inline="false")
          main photoshop
        br
        br
        br
        p
          | Adobe Photoshop is a raster graphics editor developed and published by Adobe Inc. for Windows and macOS. It was originally created in 1988 by Thomas and John Knoll. Since then, this software has become the industry standard not only in raster graphics editing, but in digital art as a whole. Wikipedia
        br
        br
        p
          | Initial release date: February 19, 1990
          | Stable release: CC 2019 (20.0.6) (August 2019; 2 months ago)
          | Programming languages: C++, Pascal
        br
        p
          | Developer(s): Adobe Inc.
          | Original authors: Thomas Knoll, John Knoll
          | License: Trialware, SaaS


      #illustrator.s_info.illustrator_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="simple-icons:adobeillustrator" data-inline="false")
          main illustrator
        br
        br
        br
        p
          | Adobe Illustrator is a vector graphics editor developed and marketed by Adobe Inc. Originally designed for the Apple Macintosh, development of Adobe Illustrator began in 1985. Along with Creative Cloud, Illustrator CC was released. Wikipedia
        br
        br
        p
          | Stable release: CC 2019 (23.0.6) / August 2019; 1 month ago
          | Initial release date: January 1987
        br
        p
          | License: Proprietary
          | Developer(s): Adobe Inc.
          | Written in: C++


      #terminal.s_info.terminal_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="octicon:terminal" data-inline="false")
          main terminal
        br
        br
        br
        p
          | The Linux console is a system console internal to the Linux kernel. The Linux console provides a way for the kernel and other processes to send text output to the user, and to receive text input from the user. The user typically enters text with a computer keyboard and reads the output text on a computer monitor.
        br
        p
          | First appeared: started on February 1, 2005


      #linux.s_info.linux_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="fa-brands:linux" data-inline="false")
          main linux
        br
        br
        br
        p
          | Linux is a family of open source Unix-like operating systems based on the Linux kernel, an operating system kernel first released on September 17, 1991, by Linus Torvalds. Linux is typically packaged in a Linux distribution. Wikipedia
        br
        br
        p
          | Initial release date: September 17, 1991
          | OS family: Unix-like
          | Default user interfaces: Unix shell, KDE Plasma 5, MATE, Cinnamon, Unity, LXDE, elementary OS, Xfce
        p
          | Developer: Community; Linus Torvalds
          | License: GPLv2 and others (the name "Linux" is a trademark)
          | Written in: C, Assembly language
        br
        br
        section.linux_distros
          h3 meet experiences with distros
          br
          p i have used many distros.. some i loved much and other i didin't 
          br
          cite
            ul
              li manjaro xfce, deepin, kde, gonom
              li ubuntu
              li linuxmint
              li open SUSE
              li ceto os
              li fedora
              li Cinnamon
              li elementary OS


      #inkscape.s_info.linux_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="simple-icons:inkscape" data-inline="false")
          main inkscape
        br
        br
        br
        p
          | Inkscape is a free and open-source vector graphics editor. This software can be used to create or edit vector graphics such as illustrations, diagrams, line arts, charts, logos and complex paintings. Wikipedia
        br
        br
        p
          | Founders: Nathan Hurst, Ted Gould, MenTaLguY, Bryce Harrington
          | Programming languages: C++
        br
        p
          | Version 2, June 1991,
          br
          | Copyright (C) 1989, 1991 Free Software Foundation, Inc.
          | 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA


      #vscode.s_info.vscode_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(style="color: #2684ff" data-icon="mdi:visual-studio-code" data-inline="false")
          main vs code
        br
        br
        br
        p
          | Visual Studio Code is a source-code editor developed by Microsoft for Windows, Linux and macOS. It includes support for debugging, embedded Git control and GitHub, syntax highlighting, intelligent code completion, snippets, and code refactoring. Wikipedia
        br
        br
        p
          | Initial release: April 29, 2015; 4 years ago
          | Developed by: Microsoft Corporation
          | Stable release: 1.38.0 (September 3, 2019; 16 days ago)
        br
        p
          | Developer(s): Microsoft
          | Written in: TypeScript, JavaScript, Cascading Style Sheets
          | License: Source code: MIT License; Binaries: Freeware;


      #atom.s_info.atom_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:atom" data-inline="false")
          main vs code
        br
        br
        br
        p
          | Atom is a free and open-source text and source code editor for macOS, Linux, and Microsoft Windows with support for plug-ins written in Node.js, and embedded Git Control, developed by GitHub. Atom is a desktop application built using web technologies.
        br
        br
        p
          | Stable release: 1.40.1 / 20 August 2019
        br
        p
          | Written in: Electron
          | Developer(s): GitHub (a Microsoft subsidiary)
          | License: MIT License (free software)


      #npm.s_info.npm_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:npm" data-inline="false")
          main npm
        br
        br
        br
        p
          | npm is a package manager for the JavaScript programming language. It is the default package manager for the JavaScript runtime environment Node.js. It consists of a command line client, also called npm, and an online database of public and paid-for private packages, called the npm registry. Wikipedia
        br
        br
        p
          | Initial release: 12 January 2010; 9 years ago
          | Stable release: 6.11.2 / 22 August 2019; 29 days ago
        br
        p
          | Original author(s): Isaac Z. Schlueter
          | Written in: JavaScript
          | Developer(s): Rebecca Turner, Kat Marchán, others
          | License: Artistic License 2.0

      #yarn.s_info.yarn_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:yarn" data-inline="false")
          main yarn
        br
        br
        br
        p
          | Yarn is a package manager for your code. It allows you to use and share (e.g. JavaScript) code with other developers from around the world. Yarn does this quickly, securely, and reliably so you don’t ever have to worry.
          | Yarn allows you to use other developers’ solutions to different problems, making it easier for you to develop your software. If you have problems, you can report issues or contribute back, and when the problem is fixed, you can use Yarn to keep it all up to date.
          | Code is shared through something called a package (sometimes referred to as a module). A package contains all the code being shared as well as a package.json file which describes the package.

        br
        br

        br
        p
          | BSD 2-Clause License
          a(href="https://github.com/yarnpkg/yarn/blob/master/LICENSE") license

      #github.s_info.github_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:github-octocat" data-inline="false")
          main github
        br
        br
        br
        p
          | GitHub is an American company that provides hosting for software development version control using Git. It is a subsidiary of Microsoft, which acquired the company in 2018 for $7.5 billion. Wikipedia
        br
        br
        p
          | CEO: Nat Friedman (Oct 29, 2018–)
          | Founders: Tom Preston-Werner, Chris Wanstrath, Scott Chacon, P. J. Hyett
          | Subsidiaries: Semmle Ltd, Good Software LLC, Easel Inc.
        br
        p
          | Parent organization: Microsoft Corporation
          | Founded: 2008
          | Headquarters: San Francisco, California, United States


      #bitbucket.s_info.bitbucket_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:bitbucket" data-inline="false")
          main bitbucket
        br
        br
        br
        p
          | Bitbucket is a web-based version control repository hosting service owned by Atlassian, for source code and development projects that use either Mercurial or Git revision control systems. Bitbucket offers both commercial plans and free accounts. Wikipedia
        br
        br
        p
          | Date launched: 2008
          | Available in: English Language, German language, MORE
        br
        p
          | Created by: Jesper Noehr
          | Written in: Python
          | Registration: Required with optional OpenID
          | Owner: Atlassian


      #git.s_info.git_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:git-icon" data-inline="false")
          main git
        br
        br
        br
        p
          | Git is a distributed version-control system for tracking changes in source code during software development. It is designed for coordinating work among programmers, but it can be used to track changes in any set of files. Its goals include speed, data integrity, and support for distributed, non-linear workflows. Wikipedia
        br
        br
        p
          | Initial release: 7 April 2005; 14 years ago
          | Stable release: 2.23.0 / 16 August 2019; 35 days ago
          | Operating system: POSIX: Linux, Windows, macOS
        br
        p
          | Developer(s): Junio Hamano and others
          | Original author: Linus Torvalds
          | License: GPLv2, LGPLv2.1, and others


      #gulp.s_info.gulp_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:gulp" data-inline="false")
          main gulp
        br
        br
        br
        p
          | gulp is an open-source JavaScript toolkit created by Eric Schoffstall used as a streaming build system in front-end web development. Wikipedia
        br
        br
        p
          | Platform: Cross-platform software
          | Stable release: 4.0.0 / 31 December 2017; 20 months ago
        br
        p
          | Developer(s): Eric Schoffstall
          | License: MIT License
          | Programming language: JavaScript


      #grunt.s_info.grunt_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:grunt" data-inline="false")
          main grunt
        br
        br
        br
        p
          | Grunt is a JavaScript task runner, a tool used to automatically perform frequent tasks such as minification, compilation, unit testing, and linting. It uses a command-line interface to run custom tasks defined in a file. Grunt was created by Ben Alman and is written in Node.js. It is distributed via npm. Wikipedia
        br
        br
        p
          | Operating system: Linux, Windows, OS X
          | Initial release: 11 January 2012; 7 years ago
        br
        p
          | Original author(s): Ben Alman
          | Written in: Node.js
          | License: MIT License


      #webpack.s_info.webpack_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos-webpack" data-inline="false")
          main webpack
        br
        br
        br
        p
          | Webpack is an open-source JavaScript module bundler. It is a module bundler primarily for JavaScript, but it can transform front-end assets like HTML, CSS, and images if the corresponding plugins are included. Webpack takes modules with dependencies and generates static assets representing those modules. Wikipedia
        br
        br
        p
          | Stable release: 4.35.2 / July 1, 2019; 2 months ago
          | Initial release: March 10, 2012; 7 years ago
        br
        p
          | License: MIT License
          | Written in: JavaScript


      #trello.s_info.trello_info
        i.fas.fa-plus.fa-lg.skills_popup_closer

        .icon
          span.iconify(data-icon="logos:trello" data-inline="false")
          main trello
        br
        br
        br
        p
          | Trello is a web-based list-making application originally made by Fog Creek Software in 2011, that was spun out to form the basis of a separate company in 2014 and later sold to Atlassian in January 2017. The company is based in New York City. Wikipedia
        br
        br
        p
          | Operating system: Web application
          | Initial release date: 2011
        br
        p
          | Developed by: Atlassian
