section#timeline.timeline.area
  include ../../components/timeline_pagination
  .timeline_holder
    h1 this my travel.
      span

    p after all everybody has his own special travel. to tell us about it.


    .timeline_map
      .period
        cite.period_flag oct. 2017
        span.period_point
        .period_description
          | after i finished secondary school. the best thing ever was happened. i herd about web development, programming and this cool stuff.

      .period
        cite.period_flag 2018
        span.period_point
        .period_description
          | it's been rough year, and unfortunately i couldn't  study web. but i say to my self at least read some thing about this field !!.

      .period
        cite.period_flag dec. 2018
        span.period_point
        .period_description
          | 2019 was the most interesting year. i achieved a lot of goals and gain more experience you can see that in skills section.

      .period
        cite.period_flag 2020
        span.period_point
        .period_description
          | i hope it will be good too. and has some cool challenges :)


  include ../../layout/footer
